button#sign {
  margin-top: 10px;
}

input {
  width: 30vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-flush {
  width: 30vw;
  padding: 10px;
  margin-bottom: 15px;
}

.message-flush {
  color: var(--color-card-title);
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
